.container {
  display: flex;
}

.cards {
  flex: 2.6 1 0;
  min-height: 100vh;
}

.favorite {
  flex: 1 1 0;
  height: fit-content;
  padding: 1.5rem;
  background-color: #6552f4;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  margin-left: 2rem;
}
.favorite h4 {
  font-size: 1.92rem;
}
@media screen and (max-width: 560px) {
  .favorite h4 {
    text-align: center;
  }
}
