:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}
html {
  box-sizing: inherit;
  font-size: 62.5%;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
body {
  margin: auto;
  max-width: 1000px;
  min-height: 100vh;
  font-size: 1.6rem;
  padding: 10px;
  background-color: #1e1e1e;
  color: #e0e0e0;
}
